<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577038598461-09uikhgd1r2fou581b751bngi8e0e34a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577038598461-09uikhgd1r2fou581b751bngi8e0e34a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>577038598461-emhdrvv2eioe5tpmi9g3nhmrrkrnrcme.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCT9hTQw2yGiwM5mitwwwmeGJT6eUkKiR0</string>
	<key>GCM_SENDER_ID</key>
	<string>577038598461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.etsmtl.applets.notredame</string>
	<key>PROJECT_ID</key>
	<string>etsmobile-98e54</string>
	<key>STORAGE_BUCKET</key>
	<string>etsmobile-98e54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577038598461:ios:eb80a27ec3653cb7ff0554</string>
	<key>DATABASE_URL</key>
	<string>https://etsmobile-98e54.firebaseio.com</string>
</dict>
</plist>