<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791091683642-8j6k40uc10uo5ks14etjrh2h5oecu43n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791091683642-8j6k40uc10uo5ks14etjrh2h5oecu43n</string>
	<key>API_KEY</key>
	<string>AIzaSyD8i_iLCb2yZ1XZ1YpBTSxqMT1Y1ZVKMGY</string>
	<key>GCM_SENDER_ID</key>
	<string>791091683642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.etsmtl.applets.etsmobile</string>
	<key>PROJECT_ID</key>
	<string>etsmobile-14206</string>
	<key>STORAGE_BUCKET</key>
	<string>etsmobile-14206.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791091683642:ios:d530dac5eaa6dbf49ab003</string>
</dict>
</plist>